*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* ajout du même font pour toute la page */
    text-decoration: none;
}
body {
    height:100vh;
}
.section1 {
    background: radial-gradient( circle, rgb(139, 195,245), #1294b8);
    display: flex;
    height : 90vh;
}

.tete{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
}
    .section1 {
        display: flex;
        flex-direction: column;
    }
    
.tete h1{
    margin-top: -18px;
    width: 25%;
    font-size: 40px;
}
     nav {
        
        position: relative;
        width: 50%;
        text-align: center;
        display: flex;
        padding-top: -30px;
        justify-content: space-between;
      }
    nav a{
        color: aliceblue;
    }
 .logosreseaux{
    width: 25%;
    display: flex;
    justify-content: center;   
    
   
 }    
 
.logosreseaux i{
    margin-right: 7%;
    position: relative;
}


.WeAreWelcome 
{
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    
}
.slogan{
    
    display: flex;
    flex-direction: column;
    margin: 10%;
    width: 40%;
    height: 49%;
    
}
.slogan h2{
    
    font-weight: bolder;
    font-size: 280%;
    line-height:small ;
}

.slogan p{
    margin-top: 5%;
}
.Kitty {
    display: flex;
    margin-top:-2.5% ;
    margin-left: 5%;
    padding-right: 15%;
    padding-left: 0;
    width: 50%;
    height: 50%px;
    object-fit: cover;
}



