*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* ajout du même font pour toute la page */
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
    
    display: flex;
    flex-direction: column;
    margin: 0;
    
   
}


.section1 {
    background: radial-gradient( circle, rgb(139, 195,245), #1294b8);
    display: flex;
    height : 100vh;
}

.tete{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
}
    .section1 {
        display: flex;
        flex-direction: column;
    }
    
.tete h1{
    margin-top: -18px;
    width: 25%;
    font-size: 50px;
    position : relative;
    
}

 
    nav {
        
        position: relative;
        width: 50%;
        text-align: center;
        display: flex;
        padding-top: -30px;
        justify-content:center;
     }

    nav :hover{ 
            color:rgba(0, 0, 0, 0.325);
      }
    nav a{
        color: aliceblue;
        margin-left: 40px;
        margin-top: 1%;
        font-size: 110%;
        
    }

    
.logosreseaux{
    width: 25%;
    display: flex;
    justify-content: center; 
    color : aliceblue
 }    


 
.logosreseaux a{
    margin-top: 6px ;
    margin-right: 7%;
    position: relative;
    font-size: 110%;  
    color : aliceblue
    
}

.logosreseaux a :hover{ 
    color:rgba(0, 0, 0, 0.325);
}

/* DEBUT Weare ET PARAGRAPHE =================================================================*/

.WeAreStartUp
{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    margin-left: 2%;
    
}
.slogan{
    
    display: flex;
    flex-direction: column;
    margin: 10%;
    width: 40%;
    height: 49%;
    
}
.slogan h2{
    text-align:initial;
    font-weight: bolder;
    font-size: 360%;
    line-height:small ;
    color: #282626;
    width: 100%;
}

.slogan .phrase{
    margin-top: 5%;
    color: #3b3b3b;
    font-size: 110%;
    
}
/* FIN TITRE ET PARAGRAPHE================================================================*/
/* DEBUT FORMULAIRE EMAIL / BUTTON =================================================================*/

.slogan form{
    position: relative;
    display: flex;
    height: 60px;
    width: 460px;
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 0.727);
    
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 5px;
    

}
.slogan form #input{
    border-radius: 32px;
    border: none;
    height: 60px;
    width: 240px;
    outline: none;
    padding: 0 10px;
    font-size: 15px;
    
}


.slogan button {
    font-size: 100%;
    letter-spacing: 1px;
    height: 100%;
    width: 160px;
    border-radius: 32px;
    border: none;
    background-color: #1294b8;
    color: white;
    text-transform: uppercase;
    position: relative;   
}



.slogan button:hover{
    background-color: #1997baac;
    cursor: pointer;
}

input#input {
    background-color : rgba(255, 255, 255, 0);
    
}

/* FIN FORMULAIRE EMAIL =================================================================*/

.Kitty {
    
    margin-top: 5%;
    margin-left: 0%;
    padding-right: 14%;
    padding-left: 0;
    width: 95%;
    height: 45%;
    
}


/* PARTIE CARDS =================================================================*/

/*head titre*/

.sectioncards {
    background : rgb(255, 254, 254);
    margin-bottom: 5%;
    height : 100vh;
}

.Head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 8% 25% 10% 25%;
}

h3 {
    height: 70px;
    width: 70%;
    text-align: center;
    font-size: 260%;
    margin-bottom: 10px;;
}

p {                         /* ce "P" concernera tous les <p> de la page*/ 
    text-align: center;
    font-size: 145%;
    color: #3b3b3b53;
    margin-left: 35px;
    margin-right:35px ;
    padding-left: 40px;
    padding-right: 40px;
    

}

/*Partie flex card*/

.cards {
    display: flex;
    justify-content: center;
    
    
  

}
#Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 450px;
    margin-left: 20px;
    margin-right: 20px;
    background: radial-gradient( circle, rgb(139, 195,245), #1294b8);
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    color: white;
    }
#Card:hover {
    transform : translate(0, -4%) ;
transition-duration: 0.65s;
}

#Card h4 {
    margin-top: 30px;
    font-size: 24px;
    }
    
    .paragraph {
    margin-top: 16px;
    padding: 30px;
    font-size: 17px;
    text-align: center;
    font-weight: lighter;
    }
    
    #Card i {
    font-size: 48px;
    margin-bottom: 20px;
    }

    /* ----------- PARTIE How It Works ----------------*/


.section2 {
    
    background-color : rgba(238, 237, 237, 0.64);
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: 0;
    width: 100%;
    height: 90vh;
}

#Howitworks{
    border: none;
    margin-bottom: none; 
}

/* ----------- PARTIE WE'RE DYNAMIC ----------------*/
.section3{
    background-color :#FFF;
    margin-bottom: 10%;
    justify-content:0;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title-phrase{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 8% 25% 10% 25%;
}

h5 {
    height: 200px;
    width: 80%;
    text-align: center;
    font-size: 260%;
    margin-bottom: 10px;
}
p1{
    text-align: center;
    font-size: 145%;
    color: #3b3b3b53;
    margin-left: 35px;
    margin-right:35px ;
    padding-left: 40px;
    padding-right: 40px; 
}

/* ----------- Cartes Experts ----------------*/

.expertscards{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    height: 200px;
    width : 100vw;
    
}

.expert{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #1294b8;
    position: relative; /* ajout de position relative pour pouvoir positionner le coeur par rapport à l'image */
    overflow: hidden;

}

h6 {
    height: 70px;
    width: 80%;
    font-size: 260%;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.CardExpert img{
    height: 280px;
    width: 280px;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: all 0.3s ease;
    
}
.CardExpert img:hover{
    transform : scale(1.1) ;
    transition-duration: 0.5s;
    overflow: hidden;
    filter : none;
}

figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Socialicons{
    
    position: absolute;
    top: 200px;
    left: 0px;
    width: 60px;
    height: 90px;
    color:aliceblue;
    background-color: rgba(219, 31, 62, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(-90%); 
    transition: opacity 0.3s ease-in-out, transform 0.59s ease-out; /* Ajout de la transition pour l'animation */
    
}

.PhotoSocial{
    border-radius: 50%;
    overflow: hidden;
}
.PhotoSocial:hover .Socialicons{
    transform : scale(1.1) ;
    transition-duration: 0.3s;
    overflow: hidden;

}