*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* ajout du même font pour toute la page */
    text-decoration: none;
}
body {
    height:110vh;
    width: 100vw;
}
.section1 {
    background: radial-gradient( circle, rgb(139, 195,245), #1294b8);
    display: flex;
    height : 100%;
}

.tete{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
}
    .section1 {
        display: flex;
        flex-direction: column;
    }
    
.tete h1{
    margin-top: -18px;
    width: 25%;
    font-size: 50px;
    position : relative;
    
}

 
    nav {
        
        position: relative;
        width: 50%;
        text-align: center;
        display: flex;
        padding-top: -30px;
        justify-content:center;
     }

    nav :hover{ 
            color:rgba(0, 0, 0, 0.325);
      }
    nav a{
        color: aliceblue;
        margin-left: 40px;
        margin-top: 1%;
        font-size: 110%;
        
    }

    
.logosreseaux{
    width: 25%;
    display: flex;
    justify-content: center; 
    color : aliceblue
 }    


 
.logosreseaux a{
    margin-top: 6px ;
    margin-right: 7%;
    position: relative;
    font-size: 110%;  
    color : aliceblue
    
}

.logosreseaux a :hover{ 
    color:rgba(0, 0, 0, 0.325);
}

/* DEBUT Weare ET PARAGRAPHE =================================================================*/

.WeAreStartUp
{
    display: flex;
    justify-content: flex-start;
    height: 50%;
    width: 100%;
    margin-left: 2%;
    
}
.slogan{
    
    display: flex;
    flex-direction: column;
    margin: 10%;
    width: 40%;
    height: 49%;
    
}
.slogan h2{
    text-align:initial;
    font-weight: bolder;
    font-size: 360%;
    line-height:small ;
    color: #282626;
    width: 100%;
}

.slogan .phrase{
    margin-top: 5%;
    color: #3b3b3b;
    font-size: 110%;
    
}
/* FIN TITRE ET PARAGRAPHE================================================================*/
/* DEBUT FORMULAIRE EMAIL / BUTTON =================================================================*/

.slogan form{
    position: relative;
    display: flex;
    height: 60px;
    width: 460px;
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 0.727);
    
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 5px;
    

}
.slogan form #input{
    border-radius: 32px;
    border: none;
    height: 60px;
    width: 240px;
    outline: none;
    padding: 0 10px;
    font-size: 15px;
    
}


.slogan button {
    font-size: 100%;
    letter-spacing: 1px;
    height: 100%;
    width: 160px;
    border-radius: 32px;
    border: none;
    background-color: #1294b8;
    color: white;
    text-transform: uppercase;
    position: relative;   
}



.slogan button:hover{
    background-color: #1997baac;
    cursor: pointer;
}

input#input {
    background-color : rgba(255, 255, 255, 0);
    
}

/* FIN FORMULAIRE EMAIL =================================================================*/

.Kitty {
    
    margin-top: 5%;
    margin-left: 0%;
    padding-right: 14%;
    padding-left: 0;
    width: 95%;
    height: 45%;
    
}


/* PARTIE CARDS =================================================================*/

/*head titre*/

.sectioncards {
    height: 100%;
    background : white;
}

.Head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 8% 25% 10% 25%;
}

h3 {
    height: 70px;
    width: 70%;
    text-align: center;
    font-size: 260%;
    margin-bottom: 10px;;
}

p {                         /* ce "P" concernera tous les <p> de la page*/ 
    text-align: center;
    font-size: 145%;
    color: #3b3b3b53;
    margin-left: 35px;
    margin-right:35px ;
    padding-left: 40px;
    padding-right: 40px;
    

}

/*Partie flex card*/

.cards {
    display: flex;
    justify-content: center;
    
    
  

}
#Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 450px;
    margin-left: 20px;
    margin-right: 20px;
    background: radial-gradient( circle, rgb(139, 195,245), #1294b8);
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    color: white;
    }
#Card:hover {
    transform : translate(0, -4%) ;
transition-duration: 0.65s;
}

#Card h4 {
    margin-top: 30px;
    font-size: 24px;
    }
    
    .paragraph {
    margin-top: 16px;
    padding: 30px;
    font-size: 17px;
    text-align: center;
    font-weight: lighter;
    }
    
    #Card i {
    font-size: 48px;
    margin-bottom: 20px;
    }